<!DOCTYPE html>
<html>
  <head>
    <title>WaveTape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 
      'https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,400;0,600;1,200&display=swap',
      media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="WaveTape" />
    <meta property="og:url" content="https://wave-tape.herokuapp.com/" />
    <meta property="og:image" content="<%= image_url('demo.gif') %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
