<!DOCTYPE html>
<html>
  <head>
    <title>WaveTape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 
      'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Overpass:ital,wght@0,100;0,200;0,300;1,100&display=swap',
      media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
